@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.fundo1 {
    background-image: url('imagens/Travel\ Time\ \(3\).png'); /* Define a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0;}

.fundo2 {
    background-image: url('imagens/Travel\ Time.png'); /* Define a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0;
}

.fundo3 {
    background-image: url('imagens/Travel\ Time\ \(2\).png'); /* Define a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0;
}

.link-menu{
    font-family: "Poppins";
    font-size: 20px;
    line-height: 120px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    margin-right: 100px;
    margin-left: 120px;
}

.titulo{
    font-family: "Poppins";
    font-size: 130px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 30px;

}

.texto{
    font-family: "Poppins";
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    width: 800px;
    text-align: center;
    color: #FFFFFF;
    font-size: 26px;
    opacity: 0.7;
    margin: 0 auto;  
    
}

.botao{
    font-family: "Poppins";
    background-color: #00B43D;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
    position: absolute;
    top: 80%;
    left: 45%;
    display: flex;
    justify-content: center;
    border: 4px solid white;
}

.pergunta{
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
    font-size: 50px;
}

.aventura{
    display: flex;
    justify-content: center;
    gap: 48px;
 }

.produto{
    width: 275px;
    border: 2px solid rgba(0,0,0, 13%);
    margin-bottom: 1000px;
    padding: 20px;
    background-color: #585858;
    
}


.descricao{
    font-family: "Poppins";
    width: 200px;
    margin-left: 20px;
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 16px;
    line-height: 120%;
    font-weight: 300;

}


.titulo-produto{
    font-family: "Poppins";
    color: white;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 16px;
    font-size: 28px;
    font-weight: 500;
    line-height: 23px;
}

 .onde{
    font-family: "Poppins";
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 200px;
    font-size: 40px;
    color: #FFFFFF;
    
 }

.botao-ler{
    font-family: "Poppins";
    display: block;
    width: 65px;
    height: 15px;
    color: white;
    background-color: #4E4E4E;
    text-decoration: none;
    padding: 10px;
    margin-left: auto;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 13px;

}
 
.sobre{
    font-family: "Poppins";
    display: flex;
    justify-content: start; 
    align-items: center; 
    height: 200px;
    font-size: 60px;
    color: #FFFFFF;
    margin-left: 100px;
}

.texto2{
    font-family: "Poppins";
    width: 1385px;
    display: flex;
    justify-content: start; 
    align-items: center; 
    height: 90px;
    font-size: 37px;
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 200px;
    opacity: 0.8;

}


